.md-footer{
     background-color: #172023de
}

[data-md-color-scheme="cia-hering"] {
  --md-primary-fg-color:        #1F65EB;
  --md-primary-fg-color--light: #1F65EB;
  --md-primary-fg-color--dark:  #00D782;
}

.rst-content img{
    max-width: 50%
}